h1 h2 h3 h4 h5 h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32px;
}
h1.title {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
    padding-right: 15px;
    padding-top: 15px;
}

img-circle {
    border-radius: 50%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2E4053;
  font-size: 16;
}

.nav {
  font-family: "Open Sans", serif;;
  color: white;
  height: 50px;
  font-size: large;
}

a:link {
    color: #113381;
}

/* visited link */
a:visited {
    color: #811611;
}

/* mouse over link */
a:hover {
    color: #116E81;
}

/* selected link */
a:active {
    color: #812711;
}

/* column alignment https://stackoverflow.com/questions/31753897/2-column-section-in-r-markdown */

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}